<div class ="row">
	<div class="span3">
		<div id="upcoming" class="">
			<h3>Upcoming Movies</h3>
			<%= render :partial => "availableMovies" %>
		</div>

	</div>
	<div class="span6 text-center">
		<div id="timer" class = "">
				<h4>00:00</h4>
		</div>
		<div id="bidder" class="alert alert-success">
			highest bidder is Jake with $5
		</div>
		<div id="poster">
			<img src="http://marvelll.fr/wp-content/gallery/oblivion/oblivion-poster.jpg" alt="Movie Poster"></img>
		</div>
	</div>
	<div class="span3">
		<div id="funds" class ="pull-right">
			<h2>$100</h2>
		</div>
	</div>
</div>
<div class ="row">
	<div class="span3">
		<div id="owned" class="">
			<h3>Owned Movies</h3>
			<ul>
				<li>Pain and Gain</li>
				<li>Monsters U</li>
			</ul>
		</div>
	</div>
	<div class="span6 text-center">
		<div id="bid">
			<input type="text"></input>
			<a href='#' class="btn btn-large btn-success">Bid</a>
		</div>
		<div id="sell">
			<input type="text"></input>
			<a href='#' class="btn btn-large btn-danger">Sell</a>
		</div>
	</div>