// Place all the styles related to the draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#poster img {
	height: 385px;
	width: 260px;
}

.btn {
	margin: 3px;
}